.marqueeContainer {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: var(--accent-purple);
    color: white;
    font-size: 0.9rem;
    padding: 2px 0;
}

.marqueeContent {
    display: inline-block;
    animation: scroll 15s linear infinite;
}

.marqueeContent span {
    margin-right: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}