@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --bg-primary: #000000;
  --text-primary: #ffffff;
  --accent-pink: #ff00ff;
  --accent-purple: #bd00ff;
  --ui-border: 2px solid white;
  --glass-bg: rgba(0, 0, 0, 0.7);
  
  --font-retro: 'VT323', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-retro);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow: hidden; /* Prevent scroll on main body */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom Scrollbar for inner containers */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-purple);
  border: 1px solid white;
}
